.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f7f7f7; /* Color de fondo para las filas impares */
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #e3e3e3; /* Color de fondo para las filas pares */
}