.mountaincontainer {
    margin-bottom: 20px;
    border: 1px solid #4268da;
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.mountain {
    display: flex;
    flex: 1;
    align-items: center;
}

.mountain img {
    width: 200px; /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto; /* La altura se ajusta automáticamente */
    max-height: 200px;
}

.mountaininfo {
    margin-left: 10px; /* Espacio entre la imagen y los campos de texto */
}