table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #7ce76e;
}

tr:nth-child(even) {
    background-color: rgb(166, 247, 179);
}

tr:nth-child(odd) {
    background-color: rgb(200, 238, 156);
}

.bar {
    background-image: url('green.png');
    height: 20px;
    display: block;
    margin-top: 5px;
}

h1 {
    color: rgb(84, 71, 95);
}

.container {
    background-color: rgb(155, 219, 187);
    border-radius: 20px;
}