.error {
    color: red;
}

.button {
    background-color: rgb(167, 8, 167);
    color: white;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, blueviolet, white, blueviolet);
    border-image-slice: 1;
    width: 150px;
    height: 40px;
}

.button2 {
    border: 2px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
}

h1 {
    color: blueviolet;
}

h3 {
    color: blueviolet;
}