@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope";
}

body {
    background-color:rgb(140, 187, 226);
    padding: 30px;
}

.blue-content {
    padding: 20px;
    background-color: white;
    
}

.border {
    padding: 20px;
    border: 1px solid black;
    width: 70%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.226);
    
}


.gris {
    padding: 5px;
    background-color: rgb(230, 230, 230);
}


.number {
    height: 30px;
}


.boto {
    width: 10%;
    padding: 10px;
    background-color: rgb(115, 115, 115);
    color: white;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, blueviolet, white, blueviolet);
    border-image-slice: 1;
}


table {
    width: 30%;
}


table,th,td {
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-collapse: collapse;
    border-spacing: 10px;
    padding: 10px;
}


th {
    text-align: left;
}

tr:nth-child(odd){
    background-color: rgb(238, 238, 238);
}

tr:first-child {
    background-color: rgb(87, 87, 87);
    color: white;
}



